header {
    height:100vh;
    padding-top: 7rem;
    overflow: hidden;
}

header-container {
    text-align: center;
    height: 100%;
    position: relative;
}

/* STYLING LANDING PAGE BUTTONS*/

.cta {
    margin-top: 10rem;
    display: flex;
    gap: 10rem;
    justify-content: center;
}

/*STYLING SCROLL DOWN TEXT*/

p {
    text-align: center;
    margin-top: 10rem;
}

.scroll-arrow {
    color:#49fc03;
    font-size: 1.5rem;
}