#header-container {
    padding-top: 8rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/*STYLING SCROLL DOWN TEXT*/

p {
    text-align: center;
    margin-top: 10rem;
    font-family: 'source code pro';
}

.scroll-arrow {
    color:#49fc03;
    font-size: 1.5rem;
    animation: var(--blinker);
}
