h1 {
    font-family: 'radiotechnika';
    color: var(--color-primary);
    font-size: 4rem;
    font-weight: 500;
}

h5 {
    font-family: 'Source Code Pro', monospace;
    color: var(--color-secondary);
    font-weight: 500;
    font-size: 1rem;
}

div {
    padding: 2rem;
}

span {
    color:#49fc03;
    font-size: 1.5rem;
    animation: var(--blinker);
    position: relative;
    padding-top: 1rem;
}
