.about-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-content {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    line-height: 2rem;
}

.image-1 {
    width: 20%;
    border-radius: 2rem;
    border: solid transparent;
    transition: var(--transition);
}

.image-1:hover {
    transition: var(--transition);
    rotate: -5deg;
    border: 0.3rem solid var(--color-primary);
}


.about-info{
    text-align: left;
    width: 50%;
    font-size: 1rem;
}

.line-break {
    color: var(--color-primary);
    animation: var(--blinker);
}