#nav {
    display: flex;
    justify-content: end;
    position: fixed;
    width: 100%;
    padding: 20px;
    gap: 1rem;
}

nav {
    text-align: end;
}

nav>a {
    text-decoration: none;
    font-family: 'source code pro';
    color: var(--color-primary);
    padding-right: 2rem;
    font-size: 1rem;
    transition: var(--transition);
}

nav>a:hover {
    animation: var(--blinker);
    font-size: 2rem;
    transition: var(--transition);
}

nav>a.active{
    text-decoration: underline;
    font-size: 200%;
}