.work-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 2.5rem;
}

.work-card {
    background: #131313;
    padding: 1.3rem;
    border-radius: 1rem;
    border: 1px solid transparent;
    transition: all 400ms ease;

}

.work-card:hover {
    border-color: #49fc03;
    border-radius: 1.5rem;
    transition: all 400ms ease;
}

.work-img {
    border-radius: 1.5rem;
    overflow: hidden;
}

.work-card>h3 {
    margin: 1.2rem 0 2rem;
}

.work-card.btn {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}